* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #828282,
    -20px -20px 60px #ffffff;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: rgb(0, 154, 205);
}

.white {
  background-color: #eed4ac;
}